@font-face {
  font-family: "arial";
  src: url("./../fonts/arial.ttf") format("truetype");
}

:root {
  --theme: #f4a900; /* setting theme color */
  --accent: #0e522d; /* setting accent color */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "arial", sans-serif;
  box-sizing: border-box;
}

.other {
  cursor: pointer;
}

.exit,
.material-icons-round {
  cursor: pointer;
}

.mapouter {
  position: absolute;
  width: 100%;
  backdrop-filter: blur(3px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  justify-content: center;
  align-items: center;
}

#overlay {
  position: absolute;
  width: 100%;
  backdrop-filter: blur(3px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  border: 3px solid var(--accent);
  flex-direction: column;
  padding: 4rem;
  border-radius: 10px;
  background-color: #fff;
  width: 60%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.exit {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #0e522d 2px solid;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.exit:hover {
  background-color: #0e522d;
  color: white;
}

.title-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homeWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.blobWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  /* background: url("../assets/images/banner.jpg") no-repeat center center; */
}

.blobWrapper > svg {
  width: 100%;
  height: 85vh;
  margin-left: -75%;
  margin-top: 10vh;
  overflow: hidden;
  scale: 2;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.smallNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

#qm {
  width: 9%;
}

.smallNav > img {
  width: 7%;
}

.name {
  display: flex;
  text-align: left;
  align-items: left;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  gap: 5px;
  padding-left: 20px;
}

.name > h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.cta {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.cta > button {
  border: none;
  background: var(--accent);
  border-radius: 20px;
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  padding: 20px;
  color: white;
}

.hero {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.hero > img {
  position: absolute;
  width: 50%;
  top: 0;
  left: -25%;
}

@media screen and (min-width: 1024px) {
  .blobWrapper > svg {
    margin-left: -50%;
    margin-top: 10vh;
    overflow: hidden;
    scale: 2;
  }

  .hero > img {
    width: 40%;
    left: 50%;
    top: -430px;
  }

  .smallNav > img {
    width: 3%;
  }

  #qm {
    width: 4%;
  }
}
