@font-face {
  font-family: "arial";
  src: url("./../fonts/arial.ttf") format("truetype");
}

:root {
  --theme: #f4a900; /* setting theme color */
  --accent: #0e522d; /* setting accent color */
}

#snackbar-lg {
  visibility: hidden;
  background-color: #1a1a1a;
  font-family: "arial", sans-serif !important;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 80%;
  font-weight: 700;
  position: fixed;
  z-index: 20;
  justify-self: center;
  top: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar-lg.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    scale: 0;
    opacity: 0;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#signin:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.fp-lg {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#show-pass,
.fp > p {
  cursor: pointer;
}

.wrapper {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside > img {
  width: 100%;
}

.noAcc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.noAcc > a {
  color: var(--accent);
  text-decoration: none;
}

.form {
  display: flex;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.inputs > input {
  width: 70%;
  padding: 10px;
  border: 1px solid var(--theme);
  border-radius: 15px;
}

button {
  width: 70%;
  overflow: hidden;
  position: relative;
  transition: background 400ms;
  color: #fff;
  background-color: var(--theme);
  outline: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 10px;
  border: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 15px;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: rippleEffect 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes rippleEffect {
  to {
    opacity: 0;
    transform: scale(4);
  }
}
.thrdPart {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.thrdPart > button {
  border-radius: 20px;
  display: flex;
  border: 2px solid var(--theme);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  width: 70%;
}

.thrdPart > button > img {
  width: 10%;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .text {
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputs > input {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .text > h1 {
    font-size: 3rem;
  }

  .text > h6 {
    font-size: 1.5rem;
  }

  .inputs > button {
    font-size: 1.5rem;
    width: 50%;
    font-weight: bold;
  }

  .thrdPart > button {
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
  }

  .thrdPart > button > img {
    width: 5%;
  }

  .error-modal-content {
    width: 30%;
  }
}
