@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); /* importing fonts from google cdn */

:root {
  --theme: #f4a900; /* setting theme color */
  --accent: #0e522d; /* setting accent color */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#error-modal {
  display: flex;
  transition: all 250ms ease-in-out;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

.error-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  background: white;
  border: 1px solid var(--theme);
  border-radius: 20px;
  padding: 2rem;
}

.error-modal-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.error-modal-header > button {
  border: none;
  cursor: pointer;
  background-color: none;
  cursor: pointer;
}

.error-modal-body {
  padding: 1.5rem;
}

.error-modal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.error-modal-footer > button {
  padding: 1rem;
  background: var(--theme);
  color: white;
  border: none;
  border-radius: 10px;
}

.wrapper {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside > img {
  width: 100%;
}

.noAcc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.noAcc > a {
  color: var(--accent);
  text-decoration: none;
}

.form {
  display: flex;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.inputs > input {
  width: 70%;
  padding: 10px;
  border: 1px solid var(--theme);
  border-radius: 15px;
}

.inputs > button {
  width: 70%;
  overflow: hidden;
  position: relative;
  transition: background 400ms;
  color: #fff;
  background-color: var(--theme);
  outline: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: var(--theme);
  border-radius: 15px;
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.thrdPart {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.thrdPart > button {
  border-radius: 20px;
  display: flex;
  border: 2px solid var(--theme);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  width: 70%;
}

.thrdPart > button > img {
  width: 10%;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .text {
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputs > input {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .text > h1 {
    font-size: 3rem;
  }

  .text > h6 {
    font-size: 1.5rem;
  }

  .inputs > button {
    font-size: 1.5rem;
    width: 50%;
    font-weight: bold;
  }

  .thrdPart > button {
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
  }

  .thrdPart > button > img {
    width: 5%;
  }
}
